<div class="alain-default__content-title">
  <h1>home / Home / Devices</h1>
</div>

<div style="background: #ececec; padding: 30px">
  <h2>Devices</h2>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="SPo2">
        <p>Blood saturation level history</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Blood pressure">
        <p>Blood pressure history</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="ECG">
        <p>ECG history</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Temperature">
        <p>Temperature history</p>
      </nz-card>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="BMI">
        <p>BMI history</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Glucose level">
        <p>Glucose level history</p>
      </nz-card>
    </div>
  </div>
</div>
